<div class="card">
  <style>
    ul.a {
      list-style-type: square;
    }
  </style>
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
      </div>

      <div class="text-left">
        <h6>This application was developed using Angular Technology for the front end as a training excercise. The concecpts learned include:
        </h6>
        <ul class="a"> 
          <li>Built-in Directives (i.e. 'ngIf', 'ngFor')</li>
          <li>Two-way data binding</li>
          <li>Angular Dependency Injector</li>
          <li>Routing</li>
          <li>Observable objects</li>
          </ul>
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Ericka Sylvester</h3>
      </div>

    </div>
  </div>
</div>
