<div class="card">
  <style>
    ul.a {
      list-style-type: square;
    }
  </style>
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
      </div>

      <div class="text-left">
        <h6>This application was developed using Angular Technology for the front end as a training excercise. The concepts learned include:
        </h6>
        <ul class="a"> 
          <li>Built-in Directives (i.e. 'ngIf', 'ngFor')</li>
          <li>Two-way data binding</li>
          <li>Angular Dependency Injector</li>
          <li>Routing</li>
          <li>Observable objects</li>
          </ul>
        <h6>The backend data is hardcoded at the moment</h6>
        <h6>The sample data was obtained using the Google Books API:  https://developers.google.com/books/docs/v1/using</h6>
        <h6>In order to get a sample book set, I queried the API passing in a generated API Key as well as the keywork "twins"</h6>
        <h6>In the future, I plan on retrieving the data directly from the API to be displayed on the portal</h6>
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Ericka Sylvester</h3>
      </div>

    </div>
  </div>
</div>
